<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vit Bhopal Hostel Registration</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="shortcut icon" type="image/x-icon" href="https://storage.googleapis.com/ezap-prod/colleges/676/logonew.png">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="/static/assets/css/theme.css" rel="stylesheet" />

    <link href="/static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="mt-6">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-9 col-lg-8 col-xl-5">
              <h1 class="display-3 lh-sm">Welcome To VITB-HRS</h1>
            </div>
            <div class="col-md-9 col-xl-5">
              <p class="fs-2">Hostel Management System to prebook your hostel and other facilities to ensure a smooth allotment process</p>
              <button class="btn btn-primary mt-3" onclick="redirectToLogin()">Start registration</button>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


           <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="mt-5">

        <div class="container">
          <div class="text-center">
            <p class="fs-2 ls-2">VITB-HRS</p>
            <h1 class="display-6 fw-semi-bold">How does it work?</h1>
          </div>
          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 order-md-1"><img class="w-100" src="/static/assets/img/gallery/comment1.png" alt="..." /></div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Login to Hrs</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Login to our vit bhopal hostel management system with your official vitbhopal credentials then wait for the dashboard page</p>
            </div>
          </div>
          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 false"><img class="w-100" src="/static/assets/img/gallery/comment2.png" alt="..." /></div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Choice your room</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Your will get a set of room with all the deatils choice a one that your need and click on book option</p>
            </div>
          </div>
          <div class="row mt-6 flex-center justify-content-xl-evenly px-xl-5">
            <div class="col-md-7 col-lg-6 order-md-1"><img class="w-100" src="/static/assets/img/gallery/comment3.png" alt="..." /></div>
            <div class="col-md-5 col-lg-4">
              <h3 class="fs-xl-7 fs-lg-4 fs-md-3 mt-5 mt-md-0">Conform your booking</h3>
              <p class="fs-xl-1 ls-3 pe-xl-2"> Your will get conformation model that you need to review it properly then you can click submit to book and you will get conformation email</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
          <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section>

            <div class="container">
              <div class="text-center text-xl-start">
                <div class="p-5 bg-primary rounded-3 d-flex flex-column justify-content-xl-between flex-xl-row">
                  <div class="py-3">
                    <h4 class="opacity-50 ls-2 lh-base fw-medium">READY TO START</h4>
                    <h2 class="mt-3 fs-4 fs-sm-7 latter-sp-3 lh-base fw-semi-bold">Book Your hostel room today </h2>
                  </div>
                  <div class="flex-center d-flex">
                    <button class="btn btn-info" onclick="redirectToLogin()">Get Started <span class="fas fa-arrow-right"></span></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->
    
          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->



    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <script>
        function redirectToLogin() {
            window.location.href = "/login";
        }
    </script>
        

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/static/vendors/@popperjs/popper.min.js"></script>
    <script src="/static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/static/vendors/is/is.min.js"></script>
    <script src="/static/vendors/swiper/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
  </body>

</html>