<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login to HRS VITB</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css'><link rel="stylesheet" href="/static/assets/css/login.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HRS VITB Admin</title>
</head>
<body>
    <div class="popup-container">
		<div class="popup">
			<span class="popup-close">&times;</span><br>
			<p id="message"></p>
		</div>
	</div>
  <div class="section login-page container-fluid">
    <div class="row aligh-item-center">
      <div class="col-sm-3 p-0">
        <div class="login-form">
          <div class="logo">
            <a href="#" class="">
              <img src="https://www.mpnvva.in/Image/UniversityLogo?instituteID=35" alt="">
            </a>
          </div>
          <div class="page-heading">
            <h2>Admin Login</h2>
          </div>
          <form action="" method="POST">
            <div class="login-form-items">
            <div class="items">
              <label for="">Admin Id</label>
              <div class="input">
                <input type="text" name="regno" placeholder="Enter your Registration No" required>
                <i class="ri-mail-line"></i>
              </div>
            </div>
            <div class="items">
              <label for="">Password</label>
              <div class="input">
                <input type="password" name="password" placeholder="Enter your password" required>
                <i class="ri-lock-line"></i>
              </div>
            </div><br>
            <div class="form-signin">
              <button class="btn">Login Now</button>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="login-extra">
          <img src="/static/images/bg.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <script>
    var url = window.location.href;
		if (url.indexOf('msg') !== -1) {
            const urlParams = new URLSearchParams(window.location.search);
            const msg = urlParams.get('msg');
			// If the URL contains "msg", display the popup with the message
			var popup = document.querySelector('.popup-container');
			var message = document.querySelector('#message');
			message.innerHTML = msg;
			popup.style.display = 'block';
		}

		// Close the popup when the close button is clicked
		var closeBtn = document.querySelector('.popup-close');
		closeBtn.addEventListener('click', function() {
			var popup = document.querySelector('.popup-container');
			popup.style.display = 'none';
		});
  </script>
  
</body>
</html>
<!-- partial -->
  
</body>
</html>
